html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  text-align: center;
}

body {
  min-height: 100%;
  background-size: 100%;
  background-attachment: fixed;
}

section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #76323F;
}

li {
  list-style-type: none;
}

h1, h2, h3, a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #565656;
  text-transform: uppercase;
}

h3 {
  font-size: 40px;
  padding-top: 8%;
  margin-bottom: 5px;
}

h4, p {
  font-family: "Merriweather", serif;
  color:#565656;
}

hr {
  width: 30px;
  height: 3px;
  background-color: #565656;
  border: 0px;
  margin: 0 auto 40px auto;
}

#logo, li, img, .button, .fa-bars {
  transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;
}


header .fa-bars {
display: none;
}

/* Header */
header {
width: 100%;
height: 70px;
position: fixed;
top: 0;
left: 0;
background-color: white;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
z-index: 1;
}


#logo a{
  font-size: 30px;
  float: left;
  margin: 22px 0 0 50px;
  color: #565656;
}

#logo a:hover {
  color: #76323F;
}

header nav {
  float: right;
  margin: 10px 50px 0 0;
}

header nav ul li {
  float: left;
  margin-left: 40px;
  color:#565656;
}

.menu a {
  font-size: 18px;
  margin: 10px;
}

header nav ul li:hover {
  color: #76323F;
}


/* Home */

#welcome-section {
height: 100%;
background: url(img/ideen.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#welcome-section h1 {
  text-align: center;
  color: white;
  font-size: 100px;
  margin-top: 20%;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px black;
}

#welcome-section h2 {
  color: white;
  font-size: 21px;
  text-align: center;
  padding: 5px;
  text-shadow: 1px 1px 2px black;
}

/* About */

#about {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.about-tile {
  width: 50%;
  min-height: 100%;
  margin-top: 5%;
}

.about-tile img {
  width: 100%;
}

#about h4 {
  font-size: 20px;
}

#about p {
  width: 80%;
  text-align: justify;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 15px;
  line-height: 1.8;
}

#link-box {
  padding-top: 10%;
}

.profile-links {
  text-align: justify;
  font-size: 50px;
  padding: 0 10%;
  color: #565656;
}

#about a:hover {
  color: #76323F;
}

/* Work */
#work {
  height: 100%;
}

#projects {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.project-tile {
  background-color: #d7cec7;
  margin: 2%;
  width: 25%;
  box-shadow: 5px 5px 10px #888888;
}

.project-tile img {
  width: 100%;
}

.project-tile h4 {
  margin-top: 12%;
}

.project-tile hr {
  margin-top: 5%;
}

.project-tile p {
text-align: center;
margin-bottom: 20%;
margin-top: 10%;
}

  /* Contact*/

 #contact {
  height: 90%;
  background: url(img/telefon.png);
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
 } 

 .contact i {
   font-size: 5em;
   margin: 12% 5%;
   color: #565656;
 }

 .contact a i:hover {
    color: #76323F;
 }


  /* form input, textarea {
    font-family: "Merriweather", serif;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 2px solid;
    border-color: #565656;
    outline: none;
    opacity: 0.7;
  }

form input:first-child {
  margin-top: 35px;
}

  form input {
    width: 40%;
    height: 30px;
  }

form textarea {
  width: 40%;
  height: 250px;
  resize: none;
  padding-top: 6px;
}

.input_text {
  color: black;
  padding-left: 10px;
}

.button {
  color: #d7cec7;
  background-color: #565656;
  width: 30%;
  height: 40px;
}

.button:hover {
  background-color: #d7cec7;
  color: #565656;
} */

/* Footer*/

footer {
  width: 100%;
  height: 50px;
  margin: 0;
}

footer p {
  font-size: 12px;
  color: black;
  padding-top: 15px;
}

/* Impressum */
#imprint {
  width: 50%;
  background-color: #d7cec7;
  border-radius: 3px;
  text-align: left;
  margin: 5% auto;
  padding: 5%;
  line-height: 1.5;
}

#imprint i {
  position: absolute;
  font-size: 30px;
  top: 175px;
}

#imprint hr {
width: 100%;
height: 1px;
}

#imprint h1 {
  text-align: center;
}

/* Media Queries*/
/* Tablets*/
@media screen and (max-width: 1024px) {

header {
  height: auto;
  padding-bottom: 4px;
}

section {
height: auto;
}

  #logo {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  }

  #welcome-section h1 {
    font-size: 80px;
  }

#welcome-section h2 {
  font-size: 18px;
  margin-top: 4px;
}

  header nav {
    margin-top: 5px;
  }

  header nav ul li {
font-size: 15px;
  }

h3 {
  padding-top: 10%;
  font-size: 35px;
}

#about p {
  width: 80%;
}

#projects {
  width: 95%;
  margin: 20px auto 0 auto;
  font-size: 0.8em;
}

#imprint {
  width: 80%;
  padding: 3%;
}

#imprint i {
  top: 90px;
}

}

/* Mobile*/
@media screen and (max-width: 650px) {

  header {
    height: auto;
    padding-bottom: 4px;
  }

  section {
    min-width: 100%;
  }

  #logo {
    font-size: 8px;
    margin-top: 0;
    }

    #welcome-section h1 {
      margin-top: 60%;
      font-size: 35px;
    }

  #welcome-section h2 {
    font-size: 12px;
    margin-top: 5px;
  }

    header nav {
      margin: 0;
      float: none;
    }

    header .fa-bars {
      font-size: 17px;
      /* padding-top: 5px; */
      display: inline-block;
      /* width: 100%; */
      cursor: pointer;
      text-align: right;
      margin: 0;
    }

  header .fa-bars:hover {
      opacity: 0.5;
    }

header nav ul {
height: 0;
overflow: hidden;
margin: 0;
padding: 0;
width: 100%;
}

header nav ul.open {
  height: auto;
}

    header nav ul li {
      width: 100%;
      padding: 5px;
      margin: 0;
  font-size: 13px;
  border-top: 1px solid #ddd;
    }

header nav ul li:hover {
  background-color: #eee;
}

  h3 {
    padding-top: 1px;
    font-size: 20px;
  }

  h4 {
    font-size: 14px;
  }

  #about {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-tile {
    width: 100%;
  }
  
  #about p {
    width: 80%;
  }

  #about i {
    font-size: 40px;
  }

  #work {
    margin-top: 0px;
  }

  #projects {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }

  .project-tile {
    width: 70%;
    margin: 20px auto;
  }

  .project-tile img {
    width: 100%;
    border-radius: 5px;
  }

  #imprint {
    width: 80%;
    padding: 3%;
    font-size: 0.7em;
  }
  
  #imprint i {
    top: 40px;
  }


  }
